In [259]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [224]:
df1 = pd.read_csv('Top 50 Animation Movies and TV Shows.csv')
df2 = pd.read_csv('raw_titles.csv')

In [225]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ranking  50 non-null     float64
 1   Name     50 non-null     object
 2   Year     50 non-null     object
 3   Minutes  46 non-null     object
 4   genre    50 non-null     object
 5   Rating   47 non-null     float64
 6   Votes    47 non-null     object
dtypes: float64(2), object(5)
memory usage: 2.9+ KB

In [227]:
df1['Year'] = df1['Year'].replace('(II) (2022)','(2022')

In [232]:
df1['Year'] = df1['Year'].str[1:5]

In [234]:
df1.head(5)

,Ranking,Name,Year,Minutes,genre,Rating,Votes
0,1.0,Big Mouth,2017,30 min,"Animation, Comedy, Romance",7.9,"79,301"
1,2.0,The Bad Guys,2022,100 min,"Animation, Adventure, Comedy",6.8,"37,335"
2,3.0,Chainsaw Man,2022,NaN,"Animation, Action, Adventure",8.8,"10,613"
3,4.0,Rick and Morty,2013,23 min,"Animation, Adventure, Comedy",9.1,"515,315"
4,5.0,Disenchanted,2022,NaN,"Animation, Adventure, Comedy",NaN,NaN

In [235]:
df1.Minutes = df1.Minutes.str.strip('[min]')

In [236]:
df1.head(5)

,Ranking,Name,Year,Minutes,genre,Rating,Votes
0,1.0,Big Mouth,2017,30,"Animation, Comedy, Romance",7.9,"79,301"
1,2.0,The Bad Guys,2022,100,"Animation, Adventure, Comedy",6.8,"37,335"
2,3.0,Chainsaw Man,2022,NaN,"Animation, Action, Adventure",8.8,"10,613"
3,4.0,Rick and Morty,2013,23,"Animation, Adventure, Comedy",9.1,"515,315"
4,5.0,Disenchanted,2022,NaN,"Animation, Adventure, Comedy",NaN,NaN

In [260]:
df1['Minutes'] = df1['Minutes'].replace(np.nan ,'0')

In [262]:
df1['Rating'] = df1['Rating'].replace(np.nan ,'0')

In [264]:
df1['Votes'] = df1['Votes'].replace(np.nan ,'0')

In [283]:
df1 = df1.astype({"Minutes": int})

In [284]:
df1 = df1.astype({"Rating": float})

In [289]:
df1['Votes'] = df1['Votes'].replace(',','')

In [285]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ranking  50 non-null     float64
 1   Name     50 non-null     object
 2   Year     50 non-null     object
 3   Minutes  50 non-null     int32
 4   genre    50 non-null     object
 5   Rating   50 non-null     float64
 6   Votes    50 non-null     object
dtypes: float64(2), int32(1), object(4)
memory usage: 2.7+ KB